@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

:root{
    --cor-1: #8c0375;
    --cor-2: #c004d9;
    --cor-3: #9303a6;
    --cor-4: #5d04d9;
    --cor-5: #03318c;
    --cor-6: #000;
    --cor-7: #fff;
    --text-color-1: #000;
    --text-color-2:#fff;

    --font-1: "Pixelify Sans", sans-serif;
    --font-2: "Roboto", sans-serif;
    --font-3: "IBM Plex Mono", serif;
}

/*Mobile First - configurações gerais*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
}

main{
   padding-top: 4.5rem;
    display: flex; 
    flex-direction: column-reverse;
    flex-grow: 1;
    justify-content: start;
}

.title-products, .title-form {
    font: normal 1.5rem var(--font-1);
    text-align: center;
}


/* cabeçalho */
.header{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--cor-5);
    height: 4rem;
    display: flex;
    justify-content: center;
}

img.logo_aluraGeek{
    width: 80%;
}

/*Estilização da seção de produtos*/
section.section__products{
    width: 100vw;
    margin: 1rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.product-container{
    width: 85vw;
    overflow-y: scroll;
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
}

div.card{
    min-width: 7.5rem;
    max-width: 8rem;
    height: 13rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5%;
    border: 1mm solid var(--cor-6);
    background-color: var(--cor-4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.img-container{
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
}

.image-width{
    width: 6.5rem;
    height: 7rem;
    border: 1mm solid var(--cor-6);
    border-radius: 5%;
}

div.card-informations{
    color: var(--text-color-2);
    margin-top: 0.5rem;
}

div.card-informations h2{
    font: bold 1rem var(--font-2);
}

div.card-informations p{
    font: 0.9rem var(--font-3);
}

div.card-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete-button{
    background-color: var(--cor-4);
    border: none;
}

button.delete-button:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}

/*Estilização do formulário para adição de produtos*/

form.add-products-form{
    margin: 0.5rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input{
    width: 14rem;
    height: 2rem;
    text-indent: 1rem;
    font: 1em var(--font-3);
    border: 1mm solid var(--cor-5);
    border-radius: 2rem;
    transition-duration: 0.4s;
}
.input:hover{
    transform: scale(1.1);
    border: 1mm solid var(--cor-4);
}

.input::placeholder{
    font: 1em var(--font-3);
    color: var(--cor-5);
    text-indent: 1rem;
}

.button{
    font: 1em var(--font-3);
    width: 8rem;
    height: 2rem;
    margin: 0.2rem;
    border: 1mm solid var(--cor-5);
    border-radius: 0.5rem;
    transition-duration: 0.4s;
}

.button:hover{
    transform: scale(1.1);
}

#salvar{
    background-color: var(--cor-5);
    color: var(--text-color-2);
}
#salvar:hover{
    background-color: var(--cor-4);
    border: 1mm solid var(--cor-4);
}

#cancelar{
    background-color: var(--cor-7);
    color: var(--cor-5);
}
#cancelar:hover{
    border: 1mm solid var(--cor-4);
    color: var(--cor-4);
}

/* rodape da página */
footer{
    margin-top: 1rem;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 4rem; 
    margin-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--cor-5);
    font: 0.8rem var(--font-3);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

img.logo_aluraGeek-footer{
    width: 10rem;
    height: 2.5rem;
}

.linkedin__link a{
    color: var(--text-color-2);
    transition: 0.4s;
}
.linkedin__link a:hover{
    color: var(--cor-2);
    font-size: 1.4rem;
    transform: scale(1.1);
}



/*Media queries*/
@media (min-width: 768px) {
    section.section__products{
        padding-bottom: 2rem;
        height: 50vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    div.product-container{
        max-width: 30rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-content: start;
    }
}


@media (min-width: 1024px) {

    /*Configurações gerais do css*/
    main{
        padding-top: 3rem;
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: start;
        flex-grow: 1;
    }

    section{
        margin: 1rem;
        padding: 1rem 0;
    }

    h1.title-products, .title-form {
        font: normal 2rem var(--font-1);
        text-align: center;
    }


    /*Estilização da seção de produtos*/

    section.section__products{
        width: 50vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        align-content: end;
        }


    div.product-container{
        width: 40rem;
        overflow-x: scroll;
        margin: 1rem 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-content: start;
    }

    div.card{
        width: 8rem;
        height: 13rem;
    }

    /*Estilização do formulário para adição de produtos*/

    section.section__form{
        width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-content: start;
    }

    form.add-products-form{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }


    .input{
        width: 18rem;
        height: 3rem;
        border: 1mm solid var(--cor-5);
        border-radius: 2rem;
    }
    
    .input::placeholder{
        font: 1.2rem var(--font-3);
        color: var(--cor-5);
        text-indent: 0.7rem;
    }
    
    .button{
        font: bold 1.2em var(--font-3);
        width: 8rem;
        height: 3rem;
        gap: 0.9rem;
        border: 1mm solid var(--cor-5);
        border-radius: 0.6rem;
    }



    /*Estilização do rodapé*/
    footer{  
        position: fixed;
        background-color: var(--cor-5);
        font: 1em var(--font-3);
        color: #fff;
        height: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* @media (min-width: 1300px) {
    
    section.section__form{
        width: 40vw;
    }
} */


